<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google form</title>
</head>
<body>
    <header>
        <img src="../../static/images/icon.jpg" alt="logo" width="75">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">New form</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </header>
    <main>
        <h1>Google form</h1>

    </main>
    <footer>

    </footer>
</body>
</html>