<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google form</title>
</head>
<body>
    <header>
        <img src="../../static/images/icon.jpg" alt="logo" width="75">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">New form</a></li>
<!--            <li><a href="#"></a></li>-->
        </ul>
    </header>
    <main>
        <h1>Google form</h1>
        <form>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name">
            </div>
            <div>
                <label for="password"> Password</label>
                <input type="password" id="password">
                <span>
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                    </svg>
                </span>
                <span style="color: #ff0000"><em>* A-Z, a-z, 0-9</em></span>
            </div>
            <div>
                <label for=""></label>
                <input >
            </div>
            <div>

            </div>
        </form>
    </main>
    <footer>

    </footer>
    <script>
        if () {
            var input =
        }
    </script>
</body>
</html>